.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categories {
  background-color: #eaf0f1;
  color: #2c3e50;
  font-family: "Arial", sans-serif;
  padding: 20px;
}

.category {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.new-category-form {
  display: grid;
  grid-gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.new-category-form input,
.new-category-form select {
  padding: 10px;
  width: 100%;
}

.submit-btn {
  background-color: #5b86e5;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #4a75c4;
}

.submit-btn:focus {
  outline: none;
}

.delete-btn {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.delete-btn:focus {
  outline: none;
}

.update-btn {
  background-color: #5b86e5;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.update-btn:hover {
  background-color: #4a75c4;
}

.update-btn:focus {
  outline: none;
}
